@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Hoş Geldiniz</h1>
    <button onclick="location.href='SelectionPage'">Start</button>
</div>
