@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-left">
    <h2>Register</h2>
    <form method="post" onsubmit="registerUser (event);">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="Email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-secondary">Register</button>
        <p id="error-message" style="color:red;"></p>
    </form>
</div>

<script>
    function registerUser(event) {
        event.preventDefault();

        const emailInput = document.getElementById("email");
        const passwordInput = document.getElementById("password");

        if (emailInput.checkVisibility() && passwordInput.checkVisibility()) {
            const formData = new FormData(event.target);

            fetch(event.target.action, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    const errorMessageElement = document.getElementById("error-message");
                    if (data.success) {
                        window.location.href = "/Index";
                    } else {
                        errorMessageElement.innerText = data.errorMessage || "Register failed.";
                    }
                })
                .catch(Error => {
                    console.error('Error:', error);
                    const errorMessageElement = document.getElementById("error-message");
                    if (errorMessageElement) {
                        errorMessageElement.innerText = "Register failed.";
                    }
                });
        } else {
            event.target.reportValidity();
        }

    }
</script>


<style>
    .text-left {
        text-align: left;
        margin-left: 2rem;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-control {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>
